:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  width: 360px;
  min-width: 0;
  overflow-x: hidden;
  background: #fff;
}

#root {
  width: 100%;
}
